body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  text-align: center;
  padding: 20px 10px;
  background-color: #020f17;
}

nav a {
  text-decoration: none;
  padding: 7px 20px;
  scroll-behavior: smooth;
  background-color: aliceblue;
  border-radius: 2%;
  margin: 0 100px;
}

h1 #info {
  /* Style for the nested span element */
  color: rgb(14, 181, 14);
  font-size: 20px;
}

.infoclass {
  font-size: 18px;
  color: rgb(81, 191, 191);
}

h1 p {
  display: inline;
}

#game-image {
  width: 400px;
  height: 400px;
  padding: 20px;
}

#imageid {
  position: relative;
  /* display: inline-block; */
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  background-image: url(images/background-image.avif);
  background-size: cover;
}

#previous-button,
#next-button {
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 5%;
}
#game-details {
  text-align: center;
  line-height: 20px;
  padding: 2px 0;
}

#data {
  width: 400px;
}

#game-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 4px solid rgb(34, 7, 150);
}

footer p {
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  color: rgb(216, 231, 221);
}

footer {
  background-color: rgb(30, 160, 197);
}
